html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.jumbotron {
    height: 200px;
    margin-top: 10px;
    background: rgb(236, 9, 9);
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

img {
    width: 100%;
}