html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.jumbotron {
    height: 300px;
    margin-top: 10px;
    background: grey;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.img {
    width: 100%;
}

